@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap');

/* Variables for the whole css */
:root{
    /* COLORS PALATTE*/
    --COLOR1:#022B3A;
    --COLOR2:#1F7A8C;
    --COLOR3:#BFDBF7;
    --COLOR4:#E1E5F2;
    --COLOR5: #FFFFFF;
    --HOVER_COLOR:hsl(210, 78%, 86%,0.5);
    --HEADING_FONT:'Montserrat', sans-serif;
    --BODY_FONT:'Source Sans Pro', sans-serif;
    --FONT_SIZE_X:1em;
    --FONT_SIZE_XL:2em;
    --FONT_SIZE_XXL:3em;
    --PADDING:0.3em;
}

/* Overriding the defaults */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: var(--BODY_FONT);
}
h1, h2, h3,h4, h5, h6{
    font-family: var(--HEADING_FONT);
}

/* Change the text color to theme */
/* For single properties  */
.theme_color{
    color:var(--COLOR2);
}